.home {
  z-index: 1000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maindiv {
  width: 100%;
  margin-top: 8rem;
}
.icondiv {
  margin-top: 8rem;
  width: 100%;
  text-align: end;
}

.stackicon {
  width: 100px;
  height: 100px;
}
.stackicon:hover {
  animation: animate-up 1s ease-out forwards;
  -webkit-animation: animate-up 1s ease-out forwards;
  cursor: pointer;
}

.rei {
  color: rgb(97, 219, 251);
}
.hti {
  color: RGB(227, 76, 38);
}
.tyi {
  color: RGB(0, 122, 204);
}
.jai {
  color: RGB(240, 219, 79);
}

.title {
  text-align: start;
  animation: animate-in 1s ease-out forwards;
  -webkit-animation: animate-in 1s ease-out forwards;
}
.desc1 {
  text-align: start;
  animation: animate-in 2s ease-out forwards;
  -webkit-animation: animate-in 2s ease-out forwards;
  font-size: 1.5rem;
  font-weight: bolder;
}
.desc2 {
  text-align: start;
  animation: animate-in 3s ease-out forwards;
  -webkit-animation: animate-in 3s ease-out forwards;
  font-size: 1.5rem;
  font-weight: bolder;
}
.desc3 {
  text-align: start;
  animation: animate-in 4s ease-out forwards;
  -webkit-animation: animate-in 4s ease-out forwards;
  font-size: 1.5rem;
  font-weight: bolder;
}
@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animate-in-left {
  from {
    opacity: 0;
    transform: translateX(2rem);
    -webkit-transform: translateX(2rem);
    -moz-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    -o-transform: translateX(2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@keyframes animate-up {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  to {
    transform: translateY(-1rem);
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    -o-transform: translateY(-1rem);
  }
}
