.login {
  margin-top: 150px;
  width: 40%;
  align-items: center;
  text-align: center;
  background-color: white;
  height: 300px;
  margin-left: 33%;
  margin-right: 33%;
  border: 3px solid red;
  border-radius: 8px;
}
.logintitle {
  letter-spacing: 0.3rem;
}
.loginName {
  border: 2px solid black;
  border-radius: 4px;
  padding: 5px;
  margin: 4px;
  width: 220px;
  height: 15px;
}
.loginPassword {
  border: 2px solid black;
  border-radius: 4px;
  padding: 5px;
  margin: 4px;
  width: 220px;
  height: 15px;
}

.loginButton {
  border: 2px solid black;
  border-radius: 4px;
  margin-top: 15px;
  width: 230px;
  height: 30px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.loginButton:hover {
  background-color: red;
}
.signuplink {
  font-weight: bold;
  text-decoration: none;
}
