.title {
  margin-top: 150px;
  width: 40%;
  align-items: center;
  text-align: center;
  background-color: white;
  height: 300px;
  margin-left: 33%;
  margin-right: 33%;
  border: 3px solid red;
  border-radius: 8px;
}
.cblabel {
  content-align: center;
  text-align: center;
}
.signupName {
  border: 2px solid black;
  border-radius: 4px;
  padding: 5px;
  margin: 4px;
  width: 220px;
  height: 15px;
}

.signupPassword {
  border: 2px solid black;
  border-radius: 4px;
  padding: 5px;
  margin: 4px;
  width: 220px;
  height: 15px;
}

.signupButton {
  border: 2px solid black;
  border-radius: 4px;
  margin-top: 15px;
  width: 230px;
  height: 30px;
  cursor: pointer;
}
.loginlink {
  text-decoration: none;
  font-weight: bold;
}
